.input-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 2em;

  .button-container {
    display: flex;
    gap: 2em;
  }

  .card-heading-text {
    font-weight: 600;
  }

  mat-list-item {
    height: auto;
    // margin: 1em 0 0.5em 0;
    margin-top: 1em;

    .control-display-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 2em;
      .inner-control-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2em;

        .control-display-container {
          display: flex;
          align-items: center;
          gap: 0.5em;

          .input-container {
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1em;

            .tooltip-button-generic {
              background-color: rgb(165, 165, 165);
              transform: scale(0.7);
              margin-bottom: 1em;

              mat-icon {
                color: white;
              }
            }

            .tooltip-button {
              background-color: rgb(165, 165, 165);
              transform: scale(0.7);
              margin-top: 1.5em;

              mat-icon {
                color: white;
              }
            }

            .radio-control-container {
              display: flex;
              flex-direction: column;
              gap: 1em;
              margin-bottom: 1em;

              .radio-group {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                gap: 1em;
              }
            }

            .checkbox-control-container {
              display: flex;
              flex-direction: column;
              gap: 1em;

              .checkbox-group {
                display: flex;
                flex-direction: row;
                gap: 1em;
              }
            }
          }

          .select-hint {
            font-size: 0.75rem;
          }

          .radio-checkbox-label {
            font-weight: 500;
          }
        }
      }
    }
  }

  .save-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
  }

  .json-preview-container {
    margin-top: 50vh;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .schema-name-heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    mat-form-field {
      width: 50%;
    }
  }
}
