<h1 mat-dialog-title>New Schema Name</h1>
<div mat-dialog-content>
  <div class="input-wrapper">
    <mat-form-field appearance="fill">
      <mat-label>Schema Name</mat-label>
      <input matInput [(ngModel)]="newSchemaName" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Schema Description</mat-label>
      <input matInput [(ngModel)]="newShemaDesc" />
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="dialog-btns">
  <app-button [buttonTitle]="'No'" mat-dialog-close></app-button>
  <app-button
    [buttonTitle]="'Ok'"
    mat-dialog-close
    (click)="onAssignNewSchema()"
  ></app-button>
</div>
