<div class="input-wrapper">
  <div class="button-container">
    <app-button
      mat-raised-button
      [buttonTitle]="'Add Input'"
      (click)="openNewControlDialog('0ms', '0ms')"
    ></app-button>
  </div>

  <mat-card>
    <div class="schema-name-heading-container">
      <mat-form-field appearance="fill">
        <mat-label>Schema Name</mat-label>
        <input matInput [formControl]="schemaTitleFormControl" />
        <mat-error *ngIf="schemaTitleFormControl.hasError('required')">
          Title is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Schema Description</mat-label>
        <textarea
          textarea
          matInput
          [formControl]="schemaDescFormControl"
        ></textarea>
        <mat-error *ngIf="schemaDescFormControl.hasError('required')">
          Description is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <h4 class="card-heading-text">Control Type</h4>
    <mat-list>
      <ng-container *ngFor="let inputProps of jsonSchemaProps; index as i">
        <mat-list-item>
          <div class="control-display-wrapper">
            <div class="inner-control-wrapper">
              <div class="control-display-index">
                <span>
                  {{ i + 1 }}
                </span>
              </div>
              <div class="control-display-container">
                <!-- If input is a radio type -->
                <ng-container *ngIf="inputProps['type'] === 'radio'">
                  <div class="radio-control-container">
                    <label>{{ inputProps["label"] }} : </label>
                    <mat-radio-group class="radio-group">
                      <mat-radio-button
                        class="radio-button"
                        *ngFor="let option of inputProps['options']"
                        [value]="option"
                      >
                        {{ option }}
                      </mat-radio-button>
                    </mat-radio-group>
                    <!-- <mat-hint align="start"
                      ><strong class="select-hint">{{
                        inputProps["description"]
                      }}</strong>
                    </mat-hint> -->
                  </div>
                </ng-container>

                <!-- If input is a checkbox type -->
                <ng-container *ngIf="inputProps['type'] === 'checkbox'">
                  <div class="checkbox-control-container">
                    <h4>{{ inputProps["label"] }} :</h4>
                    <div class="checkbox-group">
                      <p *ngFor="let option of inputProps['options']">
                        <mat-checkbox>{{ option }}</mat-checkbox>
                      </p>
                    </div>
                    <!-- <mat-hint align="start"
                      ><strong class="select-hint">{{
                        inputProps["description"]
                      }}</strong>
                    </mat-hint> -->
                  </div>
                </ng-container>

                <!-- If input is a tel type -->
                <ng-container *ngIf="inputProps['type'] === 'tel'">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>{{ inputProps["label"] }}</mat-label>
                    <span matPrefix>+62 &nbsp;</span>
                    <input type="tel" matInput placeholder="812-3456-7890" />
                    <!-- <mat-hint align="start"
                      ><strong>{{ inputProps["description"] }}</strong>
                    </mat-hint> -->
                  </mat-form-field>
                </ng-container>

                <!-- If input is an autocomplete -->
                <ng-container *ngIf="inputProps['type'] === 'predefined_text'">
                  <form class="example-form">
                    <mat-form-field
                      class="example-full-width"
                      appearance="fill"
                    >
                      <mat-label>Assignee</mat-label>
                      <input
                        type="text"
                        matInput
                        [formControl]="autoCompleteControl"
                        [matAutocomplete]="auto"
                      />
                      <mat-autocomplete
                        #auto="matAutocomplete"
                        [displayWith]="displayFn"
                      >
                        <mat-option
                          *ngFor="let option of filteredOptions | async"
                          [value]="option"
                        >
                          {{ option.name }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </form>
                </ng-container>

                <!-- Base case generic input -->
                <ng-container
                  *ngIf="
                    inputProps['type'] !== 'checkbox' &&
                    inputProps['type'] !== 'radio' &&
                    inputProps['type'] !== 'tel' &&
                    inputProps['type'] !== 'predefined_text'
                  "
                >
                  <mat-form-field appearance="fill">
                    <mat-label>{{ inputProps["label"] }}</mat-label>
                    <input
                      matInput
                      [required]="inputProps['label']"
                      [type]="inputProps['type']"
                    />
                    <!-- <mat-hint align="start"
                      ><strong>{{ inputProps["description"] }}</strong>
                    </mat-hint> -->
                  </mat-form-field>
                </ng-container>
              </div>
            </div>

            <app-button
              mat-raised-button
              [buttonTitle]="'Delete Input'"
              (click)="deleteControl(inputProps['key'])"
            ></app-button>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
  </mat-card>

  <!-- Auto Complete Component -->
  <!-- <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Number</mat-label>
      <input
        type="text"
        placeholder="Pick one"
        aria-label="Number"
        matInput
        [formControl]="autoCompleteControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form> -->

  <div class="save-btn-container">
    <app-button
      mat-raised-button
      [buttonTitle]="'Discard Schema'"
      [disabled]="jsonSchemaProps.length > 0 ? false : true"
      (click)="discardSchema()"
    ></app-button>
    <app-button
      mat-raised-button
      [buttonTitle]="'Save Schema'"
      [disabled]="jsonSchemaProps.length > 0 ? false : true"
      (click)="saveSchema()"
    ></app-button>
  </div>

  <div class="json-preview-container">
    <mat-card>
      <h4 class="card-heading-text">JSON Schema</h4>
      <span>{{ jsonSchema | json }}</span>
    </mat-card>

    <mat-card>
      <h4 class="card-heading-text">UI Schema</h4>
      <span>{{ uiSchema | json }}</span>
    </mat-card>
  </div>
</div>
